.first-screen {
    display: none;    
    .window {
        padding: 25px 24px 273px 24px;
    }          
    &__user {
        display: flex;
        width: 332px;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        &-avatar {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-color: #D5E4F7;   
        }
        &-text {
            text-align: center;
            font-weight: 400;
            font-size: 40px;
            line-height: 78px;
        }
        &-name {    
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
        }
    }
    &__social {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        width: 228px;
        height: 16px;
        &-item {
            display: flex;
        }
        &-text {
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: #5558FA;
        }
        &-icon {
            margin-right: 4px;
            display: grid;
            grid-template: 16px / 16px;
            svg {
                justify-self: center;
                align-self: center;
            }
        }
    }
    &__divider {
        margin-top: 41px;
        width: 852px;
        height: 1px;
        background-color:#00000014;
    }
    #button-start {
        margin-top: 48px;      
        width: 79px;
        height: 44px;        
    } 
    &__form {
        margin-top: 24px;
        width: 400px;
        height: 168px;  
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
        &__phone, &__email {
            input {       
                width: 100%;
                background: rgba(0, 0, 0, 0.04);        
            }
        }
    }   
}