.four-screen {
    display: none;
    .window {
        padding: 176px 110px 80px 110px;
        label {
            font-size: 14px;
            line-height: 20px;
        }
        textarea {
            padding: 12px;
            width: 680px;
            height: 84px;
        }
    }
    &__tip {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.48);
    }
    
}