 .second-screen {       
    display: block;
    padding-right: 380px;           
    &__form {
        width: 300px;
        margin-top: 67px;          
        &-tip {
            margin-top: 8px;
            margin-bottom: 24px;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.48);
            &:last-child {
                margin-bottom: 0;
            }
        }
        input {
            padding: 12px;
            width: 100%;
        }
        &__sex {
            position: relative;
            svg {
                position: absolute;
                right: 12px;
                top: 40px;
                cursor: pointer;
                transition: all .4s;               
            }
        }
        &__choice {            
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 80px;
            background: #FFFFFF;
            box-shadow: none;
            border-radius: 4px;
            transition: all .4s;
            transform: translate(20px, -80px);
            &-item {
                padding: 8px 12px;
                height: 40px;
                font-size: 14px;
                line-height: 20px;
                cursor: pointer;
                &:hover {
                    background: #F4F4F5;
                }
            }
            &-window {
                position: absolute;
                top: 72px;
                width: 340px;
                height: 100px;
                overflow: hidden;
                transform: translateX(-20px);
            }
        }
    }  
}
#field-sex {
    cursor: pointer;
}
.rotate-180 {
    transform: rotate(180deg);
}
.plusPadding-15px {
    padding-left: 20px;
}
.minusPadding-15px {
    padding: 62px 110px 101px 90px;
}
.changeSexList {
    transform: translate(20px, 0px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}
.left24px {
    left: 24px;
}

