.third-screen {
    display: block;
    padding-right: 380px;
    &__form {
        position: relative;
        margin-top: 67px;
        width: 300px;        
        &__add-btn {
            position: relative;
            margin-top: 8px;
            width: 44px;
            height: 44px;
            border: 1.5px solid $main-color;
            border-radius: 4px;
            transition: all .3s;
            cursor: pointer;            
            &:hover {
                background:$main-color;
                &::before, &::after {
                    background-color: #fff;
                }
            }
            &::before {  
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;                
                display: block;
                width: 14px;
                height: 2px;
                background-color: $main-color;
                transform: translate(-50%, -50%);
                line-height: 44px;
                &:hover {
                    background-color: #fff;
                }
            }
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;              
                display: block;
                width: 2px;
                height: 14px;
                background-color: $main-color;
                transform: translate(-50%, -50%);
                line-height: 44px;
                
            }
        }
    }
    &__advantages {
        width: 300px;
        height: auto;
        margin-bottom: 0;
        input {
            padding: 12px;
            margin-top: 8px;
            width: 100%;            
        }
    }
    &__checkbox, &__radio {
        margin-top: 24px;
        width: 300px;
        height: 80px; 
        display: grid;
        grid-template: repeat(4, 20px) / 20px 20px 70px;
        p {
            grid-column: 1 / 4;
            font-size: 14px;
            line-height: 20px;
        }        
        input {
            width: 16px;
            height: 16px;
            grid-column: 1 / 2;
            justify-self: center;
            align-self: center;
        }  
        label {
            margin-bottom: 0;
            width: 100%;
            grid-column: 2 / 3;  
            text-align: center                   
        } 
    }
    &__remove-btns {
        position: absolute;
        top: 40px;
        right: -36px;
        width: 20px;

    }  
    &__remove-btn {
        margin-top: 27px;
        &:first-child {
            margin-top: 0;
        }
        img {
            cursor: pointer;            
        }
 
    }
}